/* this height constraint is for the demos page only */

body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #e9eaeb;
}

h2.app-title {
    color: #707070;
    padding: 28px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500;
}

.hc-drawer {
    background-color: #6e6f71;
    color: #b9babb;
}

.mobileView {
    display: block;
    width: 411px;
    height: 823px;
    border: 2em solid black;
    border-radius: 1em;
}

.page-content {
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 0 5%;
}

.dummyItem {
    margin-bottom: 1em;
    font-size: 21px;
}

.main-content {
    background-color: #fff;
    margin-bottom: 2em;
    padding: 30px;
}
