/* this height constraint is for the demos page only */

body {
    padding: 0 !important;
    margin: 0 !important;
}

.page-content {
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.dummyItem {
    margin-bottom: 1em;
}

.buttons {
    margin-bottom: 20px;
}
