/* this height constraint is for the demos page only */

body {
    padding: 0 !important;
    margin: 0 !important;
}

.page-content {
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.dummyItem {
    margin-bottom: 1em;
}

.buttons {
    margin-bottom: 20px;
}

.app-title {
    font-size: 24px;
    font-weight: 400;
    padding-top: 25px;
}

.hc-label {
    font-size: 16px;
    line-height: 40px;
}

.fineprint {
    font-size: 12px;
    font-style: italic;
}

hr.title-border {
    margin-top: 0;
}
